/*-----------------------------------------------
  Helpers
------------------------------------------------*/


// Clearfix

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

// Center alignment

%center-align {
	text-align: center;
}